In [1]:
import json
import pandas as pd
import datetime
from collections import Counter

## 키워드 분석 1: 더 글로리

In [2]:
df_glory = pd.read_json("twitter/the_glory.json")

In [3]:
df_glory.head()

,created_at,id,id_str,text,truncated,entities,extended_entities,metadata,source,in_reply_to_status_id,...,retweeted_status,is_quote_status,retweet_count,favorite_count,favorited,retweeted,possibly_sensitive,lang,quoted_status_id,quoted_status_id_str
0,2023-03-15 15:13:24+00:00,1636022791853195264,1636022791853195264,RT @season__22: 아 더글로리 악역들 화보 떴대서 들어갔는데 \n전재준 ...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1635979666975764481, 'id_str...","{'result_type': 'recent', 'iso_language_code':...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,{'created_at': 'Wed Mar 15 12:22:03 +0000 2023...,False,951,0,False,False,0.0,ko,NaN,NaN
1,2023-03-15 15:13:23+00:00,1636022791517671425,1636022791517671424,RT @sikie_d: 이도현 한 작품으로 두 가지 맛 보여주는 게 너무 좋음......,False,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,"{'result_type': 'recent', 'iso_language_code':...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,{'created_at': 'Wed Mar 15 01:16:40 +0000 2023...,False,113,0,False,False,NaN,ko,NaN,NaN
2,2023-03-15 15:13:21+00:00,1636022781673623554,1636022781673623552,RT @only1intheearth: 전두환 손자 폭로에 관심을 가져야하는 이유는 ...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,"{'result_type': 'recent', 'iso_language_code':...","<a href=""http://twitter.com/download/android"" ...",NaN,...,{'created_at': 'Wed Mar 15 03:45:35 +0000 2023...,True,22142,0,False,False,NaN,ko,1.635698e+18,1.635698e+18
3,2023-03-15 15:13:19+00:00,1636022772542619648,1636022772542619648,RT @only1intheearth: 전두환 손자 폭로에 관심을 가져야하는 이유는 ...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,"{'result_type': 'recent', 'iso_language_code':...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,{'created_at': 'Wed Mar 15 03:45:35 +0000 2023...,True,22142,0,False,False,NaN,ko,1.635698e+18,1.635698e+18
4,2023-03-15 15:13:18+00:00,1636022767333281798,1636022767333281792,RT @loverdramas: 더 글로리 동은오적 화보 찢었다 https://t.c...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1635965867761766400, 'id_str...","{'result_type': 'recent', 'iso_language_code':...","<a href=""https://mobile.twitter.com"" rel=""nofo...",NaN,...,{'created_at': 'Wed Mar 15 11:27:14 +0000 2023...,False,9086,0,False,False,0.0,ko,NaN,NaN

### 1. 언제 트윗되었나?

#### 가장 최근 트윗

In [4]:
df_glory.head(1)

,created_at,id,id_str,text,truncated,entities,extended_entities,metadata,source,in_reply_to_status_id,...,retweeted_status,is_quote_status,retweet_count,favorite_count,favorited,retweeted,possibly_sensitive,lang,quoted_status_id,quoted_status_id_str
0,2023-03-15 15:13:24+00:00,1636022791853195264,1636022791853195264,RT @season__22: 아 더글로리 악역들 화보 떴대서 들어갔는데 \n전재준 ...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1635979666975764481, 'id_str...","{'result_type': 'recent', 'iso_language_code':...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,{'created_at': 'Wed Mar 15 12:22:03 +0000 2023...,False,951,0,False,False,0.0,ko,NaN,NaN

#### 가장 마지막 트윗

In [5]:
df_glory.tail(1)

,created_at,id,id_str,text,truncated,entities,extended_entities,metadata,source,in_reply_to_status_id,...,retweeted_status,is_quote_status,retweet_count,favorite_count,favorited,retweeted,possibly_sensitive,lang,quoted_status_id,quoted_status_id_str
1099,2023-03-15 14:35:49+00:00,1636013335689699328,1636013335689699328,RT @aboutloveknot: 신예은이 공개한 더 글로리 에피소드...🥺\n\n...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,"{'result_type': 'recent', 'iso_language_code':...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,{'created_at': 'Wed Mar 15 05:12:11 +0000 2023...,False,17571,0,False,False,NaN,ko,NaN,NaN

트윗의 시간을 통해 대략 48분 정도에 1100개의 트윗이 생성되었음을 알 수 있다.

#### 1100개 트윗의 평균 시각

In [6]:
df_glory['tw_unixtime'] = df_glory['created_at'].apply(lambda x: x.timestamp())
dt = datetime.datetime.fromtimestamp(df_glory['tw_unixtime'].mean())
dt.ctime()

'Wed Mar 15 14:54:28 2023'

주어진 데이터의 트윗은 평균적으로 14시 54분즈음 이루어졌음을 알 수 있다.

### 2. 언제 계정을 만들었나?

In [7]:
df_glory_user = pd.DataFrame(data=df_glory['user'].tolist())

In [8]:
df_glory_user.head()

,id,id_str,name,screen_name,location,description,url,entities,protected,followers_count,...,profile_text_color,profile_use_background_image,has_extended_profile,default_profile,default_profile_image,following,follow_request_sent,notifications,translator_type,withheld_in_countries
0,1315872177376256001,1315872177376256001,J,12300615S2,,1n살 개롯. 맞팔됐으면 막 멘달고 다님. 괜찮은사람만 맞팔 바람!,None,{'description': {'urls': []}},False,56,...,333333,True,True,True,False,False,False,False,none,[]
1,1460595670122135552,1460595670122135552,쨍!,_zzeng,,일상+좋아하는 거 수집중 / 20⬆️,None,{'description': {'urls': []}},False,1,...,333333,True,False,True,False,False,False,False,none,[]
2,920270731199393794,920270731199393794,🍇,O425O425,구독계,"선상님들 절 내치지 말아주세요,,,감사합니다,,,",None,{'description': {'urls': []}},False,3,...,000000,False,True,False,False,False,False,False,none,[]
3,1426066310845272067,1426066310845272067,tesa,qnewsun0,,웅냥냥,None,{'description': {'urls': []}},False,0,...,333333,True,True,True,False,False,False,False,none,[]
4,1165930904335699968,1165930904335699968,톢 ₍ᐢ⑅ᐢ₎,T0KK1_OuO,헤더 (@언약자🥰),FF14 초코보 † 로아 루페온 † 사이퍼즈 † 판소 † 무협 † 성인,None,{'description': {'urls': []}},False,628,...,000000,False,True,False,False,False,False,False,none,[]

In [9]:
df_glory_user[["screen_name", "created_at"]].head()

  screen_name                      created_at
0  12300615S2  Tue Oct 13 04:29:26 +0000 2020
1      _zzeng  Tue Nov 16 13:09:06 +0000 2021
2    O425O425  Tue Oct 17 12:50:14 +0000 2017
3    qnewsun0  Fri Aug 13 06:21:29 +0000 2021
4   T0KK1_OuO  Mon Aug 26 10:16:13 +0000 2019

In [10]:
df_glory_user['user_created_datetime'] = \
    df_glory_user['created_at'].apply(
        lambda x: datetime.datetime.strptime(x, '%a %b %d %H:%M:%S +%f %Y'))
df_glory_user.head()

,id,id_str,name,screen_name,location,description,url,entities,protected,followers_count,...,profile_use_background_image,has_extended_profile,default_profile,default_profile_image,following,follow_request_sent,notifications,translator_type,withheld_in_countries,user_created_datetime
0,1315872177376256001,1315872177376256001,J,12300615S2,,1n살 개롯. 맞팔됐으면 막 멘달고 다님. 괜찮은사람만 맞팔 바람!,None,{'description': {'urls': []}},False,56,...,True,True,True,False,False,False,False,none,[],2020-10-13 04:29:26
1,1460595670122135552,1460595670122135552,쨍!,_zzeng,,일상+좋아하는 거 수집중 / 20⬆️,None,{'description': {'urls': []}},False,1,...,True,False,True,False,False,False,False,none,[],2021-11-16 13:09:06
2,920270731199393794,920270731199393794,🍇,O425O425,구독계,"선상님들 절 내치지 말아주세요,,,감사합니다,,,",None,{'description': {'urls': []}},False,3,...,False,True,False,False,False,False,False,none,[],2017-10-17 12:50:14
3,1426066310845272067,1426066310845272067,tesa,qnewsun0,,웅냥냥,None,{'description': {'urls': []}},False,0,...,True,True,True,False,False,False,False,none,[],2021-08-13 06:21:29
4,1165930904335699968,1165930904335699968,톢 ₍ᐢ⑅ᐢ₎,T0KK1_OuO,헤더 (@언약자🥰),FF14 초코보 † 로아 루페온 † 사이퍼즈 † 판소 † 무협 † 성인,None,{'description': {'urls': []}},False,628,...,False,True,False,False,False,False,False,none,[],2019-08-26 10:16:13

#### 주어진 데이터 중 가장 빨리/최근에 만들어진 계정

In [11]:
df_glory_user['user_created_unixtime'] = \
    df_glory_user['user_created_datetime'].apply(lambda x: x.timestamp())

In [12]:
min_idx = df_glory_user[['user_created_unixtime']].idxmin()
df_glory_user.iloc[min_idx][["screen_name", "created_at"]]

    screen_name                      created_at
490     simji94  Tue Jun 16 02:40:21 +0000 2009

In [13]:
max_idx = df_glory_user[['user_created_unixtime']].idxmax()
df_glory_user.iloc[max_idx][["screen_name", "created_at"]]

       screen_name                      created_at
344  flyingmarieee  Fri Mar 10 16:29:44 +0000 2023

#### 계정을 만든 시각의 평균 시각

In [14]:
df_glory_user['user_created_unixtime'] = \
    df_glory_user['user_created_datetime'].apply(lambda x: x.timestamp())
dt = datetime.datetime.fromtimestamp(df_glory_user['user_created_unixtime'].mean())
dt.ctime()

'Sat May  4 22:37:28 2019'

계정을 만든 시각의 평균을 계산하면, 2019년 5월 4일 오후 10시 정도이다.

### 3. 몇개나 트윗했는가?

In [15]:
df_glory_user[['screen_name', 'statuses_count']].head()

  screen_name  statuses_count
0  12300615S2           26877
1      _zzeng            4207
2    O425O425           26736
3    qnewsun0            1013
4   T0KK1_OuO          100923

#### 트윗에 대한 통계량

In [16]:
df_glory_user[['screen_name', 'statuses_count']].describe()

       statuses_count
count     1100.000000
mean     38024.702727
std      64809.792282
min          4.000000
25%       4134.250000
50%      14670.500000
75%      41537.750000
max     688158.000000

최소와 최대의 차이, 분산이 굉장히 큰 것으로 보아, 소수의 하드 유저가 존재함을 알 수 있다.

### 4. 수집된 tweet 중 가장 follower가 많은 사용자는?

In [17]:
max_idx = df_glory_user['followers_count'].idxmax()
df_glory_user.iloc[max_idx][["screen_name", "followers_count"]]

screen_name        tpstm301
followers_count       20573
Name: 734, dtype: object

tpstm301 유저가 20573개의 follower를 갖고 있다.

In [18]:
df_glory_user[["screen_name", "followers_count"]].describe()

       followers_count
count      1100.000000
mean        181.229091
std         860.176477
min           0.000000
25%           5.000000
50%          35.000000
75%         138.000000
max       20573.000000

팔로워 수의 통계량을 분석하면, 최대 값이 굉장히 높은 것에 비해 평균값과 사분위 값은 작다.<br>
즉, 일부 소수의 유저만이 수많은 팔로워를 갖고 있음을 알 수 있다.

### 5. 가장 많이 나오는 hashtag는?

In [19]:
df_glory_hashtags = pd.DataFrame(data=df_glory['entities'].tolist())
df_glory_hashtags.head()

,hashtags,symbols,user_mentions,urls,media
0,[],[],"[{'screen_name': 'season__22', 'name': '시즌', '...",[],"[{'id': 1635979666975764481, 'id_str': '163597..."
1,[],[],"[{'screen_name': 'sikie_d', 'name': '시키', 'id'...",[],NaN
2,[],[],"[{'screen_name': 'only1intheearth', 'name': '티...",[],NaN
3,[],[],"[{'screen_name': 'only1intheearth', 'name': '티...",[],NaN
4,[],[],"[{'screen_name': 'loverdramas', 'name': '취향', ...",[],"[{'id': 1635965867761766400, 'id_str': '163596..."

In [20]:
tags = []
for row in df_glory_hashtags['hashtags']:
    if len(row) != 0:
        for text in row:
            tags.append(text['text'])

In [21]:
counter = Counter(tags)

In [22]:
counter.most_common()[:10]

[('TheGlory', 5),
 ('더글로리', 3),
 ('허타람찌', 2),
 ('TheGlory2', 2),
 ('육성재', 1),
 ('뷰티풀선데이', 1),
 ('정성일', 1),
 ('더글로리2', 1),
 ('netflix', 1),
 ('넷플드라마', 1)]

### 6. 수집된 트윗을 분석하여 가장 많이 retweet된 (중복이 안되는) 트윗 10개를 찾고 이들의 리트윗 횟수, 원작성자, 트윗내용 등을 정리

In [23]:
# nan 예외처리를 위한 전처리 과정
df_glory_rt_list = df_glory['retweeted_status'].tolist()
list2df = []
for item in df_glory_rt_list:
    if type(item) == dict:
        list2df.append(item)

In [24]:
df_glory_rt = pd.DataFrame(data=list2df)

In [25]:
c = []
for name, group in df_glory_rt.groupby('id_str'):
    c.append([
        group.iloc[0]['retweet_count'],
        group.iloc[0]['user']['screen_name'],
        group.iloc[0]['text']])

In [26]:
pd.DataFrame(
    columns=['retweet_count', 'origin_user', 'text'],
    data=sorted(c, key=lambda x: x[0], reverse=True)[:10])

,retweet_count,origin_user,text
0,25786,rurixz,더글로리 보면서 쫌 반성되엇던점\n내 평소 언어습관 래알 재준이급이라서 앞으로 욕을...
1,22160,3n0m3n0m,더글로리 파트2 중 가장 아찔했던 순간이었음 https://t.co/gx6vZYdMj1
2,22142,only1intheearth,전두환 손자 폭로에 관심을 가져야하는 이유는 더 글로리의 영향을 받아 폭로하는게 아...
3,21300,vayapunteria,아진짜개오바야 이게 더글로리야무한상사야 https://t.co/SmP0E7ROmW
4,19984,j0ggin,더글로리 전재준 연기하면서 어려웟던 점은..\nㅆ발새끼야이개새끼가ㅆ발놈이\nㄴ 잘하...
5,17566,aboutloveknot,신예은이 공개한 더 글로리 에피소드...🥺\n\n아기 동은이 괴롭히는 장면 찍을 때...
6,15207,moeldaee,더글로리 최고의 반전\n집주인할머니 https://t.co/Xbqm21XmD6
7,12062,j0ggin,더글로리 포스터 결말 알고 보니까 더 소름이다\n\n최혜정 &gt; 남에 불행에 크...
8,11505,dbdb_deeep,더글로리 강스포주의 :\n강사라가 하예솔한테 약물 주입해서 살인병기로 변함.\n모두...
9,10984,hiiamnugu,더글로리2 가볼게요ㅋㅋ\n고백 공격 받은 스튜어디스 혜정이 반응 ㅈㄴ웃겨 https...

## 키워드 분석 2: 강아지

In [27]:
df_dog = pd.read_json("twitter/dog.json")

In [28]:
df_dog.head()

,created_at,id,id_str,text,truncated,entities,extended_entities,metadata,source,in_reply_to_status_id,...,is_quote_status,retweet_count,favorite_count,favorited,retweeted,possibly_sensitive,lang,quoted_status_id,quoted_status_id_str,quoted_status
0,2023-03-15 06:11:36+00:00,1635886447306903552,1635886447306903552,RT @day_off_daying: 버려진 강아지를 찾는 전단지를 보고 연락해본 결...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1635655427223592963, 'id_str...","{'result_type': 'recent', 'iso_language_code':...","<a href=""http://twitter.com/download/android"" ...",NaN,...,False,1612,0,False,False,0.0,ko,NaN,NaN,NaN
1,2023-03-15 06:11:33+00:00,1635886433662820353,1635886433662820352,... 사실 여기 코는 강아지한테 맞아서 다친 거지만요...?!,False,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,"{'result_type': 'recent', 'iso_language_code':...","<a href=""http://twittbot.net/"" rel=""nofollow"">...",NaN,...,False,0,0,False,False,NaN,ko,NaN,NaN,NaN
2,2023-03-15 06:11:33+00:00,1635886432907829249,1635886432907829248,RT @wwlake: 세븐틴 강아지 정모하는거 보고싶음 https://t.co/NU...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1635858370954657792, 'id_str...","{'result_type': 'recent', 'iso_language_code':...","<a href=""http://twitter.com/download/android"" ...",NaN,...,False,754,0,False,False,0.0,ko,NaN,NaN,NaN
3,2023-03-15 06:11:32+00:00,1635886429749534720,1635886429749534720,RT @1_0veyajj: 원우 오자마자 도어락 소리 듣고 현관으로 뛰어가는 강아지...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1635885899228798976, 'id_str...","{'result_type': 'recent', 'iso_language_code':...","<a href=""http://twitter.com/download/android"" ...",NaN,...,False,5,0,False,False,0.0,ko,NaN,NaN,NaN
4,2023-03-15 06:11:32+00:00,1635886426805116928,1635886426805116928,RT @wwlake: 세븐틴 강아지 정모하는거 보고싶음 https://t.co/NU...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1635858370954657792, 'id_str...","{'result_type': 'recent', 'iso_language_code':...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,False,754,0,False,False,0.0,ko,NaN,NaN,NaN

### 1. 언제 트윗되었나

In [29]:
# 가장 최근 트윗
df_dog.head(1)

,created_at,id,id_str,text,truncated,entities,extended_entities,metadata,source,in_reply_to_status_id,...,is_quote_status,retweet_count,favorite_count,favorited,retweeted,possibly_sensitive,lang,quoted_status_id,quoted_status_id_str,quoted_status
0,2023-03-15 06:11:36+00:00,1635886447306903552,1635886447306903552,RT @day_off_daying: 버려진 강아지를 찾는 전단지를 보고 연락해본 결...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1635655427223592963, 'id_str...","{'result_type': 'recent', 'iso_language_code':...","<a href=""http://twitter.com/download/android"" ...",NaN,...,False,1612,0,False,False,0.0,ko,NaN,NaN,NaN

In [30]:
# 가장 마지막 트윗
df_dog.tail(1)

,created_at,id,id_str,text,truncated,entities,extended_entities,metadata,source,in_reply_to_status_id,...,is_quote_status,retweet_count,favorite_count,favorited,retweeted,possibly_sensitive,lang,quoted_status_id,quoted_status_id_str,quoted_status
1099,2023-03-15 05:31:42+00:00,1635876406151512064,1635876406151512064,RT @teamDDUDDU0210: 강아지가 제일 좋아하는 공원 공사로 인해 출입 ...,False,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1635161312513921024, 'id_str...","{'result_type': 'recent', 'iso_language_code':...","<a href=""https://mobile.twitter.com"" rel=""nofo...",NaN,...,False,3560,0,False,False,0.0,ko,NaN,NaN,NaN

In [31]:
# 1100개 트윗의 평균 시각
df_dog['tw_unixtime'] = df_dog['created_at'].apply(lambda x: x.timestamp())
dt = datetime.datetime.fromtimestamp(df_dog['tw_unixtime'].mean())
dt.ctime()

'Wed Mar 15 05:51:49 2023'

### 2.언제 계정을 만들었나?

In [32]:
df_dog_user = pd.DataFrame(data=df_dog['user'].tolist())

In [33]:
df_dog_user.head()

,id,id_str,name,screen_name,location,description,url,entities,protected,followers_count,...,profile_use_background_image,has_extended_profile,default_profile,default_profile_image,following,follow_request_sent,notifications,translator_type,withheld_in_countries,profile_banner_url
0,1431855949333942273,1431855949333942273,먉,Ggyu_uu_,,,None,{'description': {'urls': []}},False,0,...,True,True,True,False,False,False,False,none,[],NaN
1,1594387113830539264,1594387113830539264,정아름송이,Aleum___,대사 발췌 BOT,,None,{'description': {'urls': []}},False,2,...,True,True,True,False,False,False,False,none,[],NaN
2,1511642761887641600,1511642761887641600,은하,Emma0221_,,,None,{'description': {'urls': []}},False,0,...,True,True,True,False,False,False,False,none,[],NaN
3,1524815576064897028,1524815576064897028,마뉴 (압도당함),roIIinggun,@AH_L0VEISY0U (프사는 칠이님),수준 이상의 미소녀를 위한 fan account,https://t.co/91eBq9aWXX,{'url': {'urls': [{'url': 'https://t.co/91eBq9...,False,3796,...,True,True,True,False,False,False,False,none,[],https://pbs.twimg.com/profile_banners/15248155...
4,1463871195267223558,1463871195267223558,워누아이니,_wonwoo_i_ni,전원우마음속,너의 내일이 되고 싶어서 오늘을 살아왔어,https://t.co/8HipXkQcY0,{'url': {'urls': [{'url': 'https://t.co/8HipXk...,False,677,...,True,True,True,False,False,False,False,none,[],https://pbs.twimg.com/profile_banners/14638711...

In [34]:
df_dog_user[["screen_name", "created_at"]].head()

    screen_name                      created_at
0      Ggyu_uu_  Sun Aug 29 05:47:29 +0000 2021
1      Aleum___  Sun Nov 20 17:48:11 +0000 2022
2     Emma0221_  Wed Apr 06 09:51:54 +0000 2022
3    roIIinggun  Thu May 12 18:15:43 +0000 2022
4  _wonwoo_i_ni  Thu Nov 25 14:04:38 +0000 2021

In [35]:
df_dog_user['user_created_datetime'] = \
    df_dog_user['created_at'].apply(
        lambda x: datetime.datetime.strptime(x, '%a %b %d %H:%M:%S +%f %Y'))
df_dog_user.head()

,id,id_str,name,screen_name,location,description,url,entities,protected,followers_count,...,has_extended_profile,default_profile,default_profile_image,following,follow_request_sent,notifications,translator_type,withheld_in_countries,profile_banner_url,user_created_datetime
0,1431855949333942273,1431855949333942273,먉,Ggyu_uu_,,,None,{'description': {'urls': []}},False,0,...,True,True,False,False,False,False,none,[],NaN,2021-08-29 05:47:29
1,1594387113830539264,1594387113830539264,정아름송이,Aleum___,대사 발췌 BOT,,None,{'description': {'urls': []}},False,2,...,True,True,False,False,False,False,none,[],NaN,2022-11-20 17:48:11
2,1511642761887641600,1511642761887641600,은하,Emma0221_,,,None,{'description': {'urls': []}},False,0,...,True,True,False,False,False,False,none,[],NaN,2022-04-06 09:51:54
3,1524815576064897028,1524815576064897028,마뉴 (압도당함),roIIinggun,@AH_L0VEISY0U (프사는 칠이님),수준 이상의 미소녀를 위한 fan account,https://t.co/91eBq9aWXX,{'url': {'urls': [{'url': 'https://t.co/91eBq9...,False,3796,...,True,True,False,False,False,False,none,[],https://pbs.twimg.com/profile_banners/15248155...,2022-05-12 18:15:43
4,1463871195267223558,1463871195267223558,워누아이니,_wonwoo_i_ni,전원우마음속,너의 내일이 되고 싶어서 오늘을 살아왔어,https://t.co/8HipXkQcY0,{'url': {'urls': [{'url': 'https://t.co/8HipXk...,False,677,...,True,True,False,False,False,False,none,[],https://pbs.twimg.com/profile_banners/14638711...,2021-11-25 14:04:38

#### 주어진 데이터 중 가장 빨리/최근에 만들어진 계정

In [36]:
df_dog_user['user_created_unixtime'] = \
    df_dog_user['user_created_datetime'].apply(lambda x: x.timestamp())

In [37]:
min_idx = df_dog_user[['user_created_unixtime']].idxmin()
df_dog_user.iloc[min_idx][["screen_name", "created_at"]]

      screen_name                      created_at
496  jeonyoonhong  Thu Jul 23 02:08:40 +0000 2009

In [38]:
max_idx = df_dog_user[['user_created_unixtime']].idxmax()
df_dog_user.iloc[max_idx][["screen_name", "created_at"]]

     screen_name                      created_at
258  tjdgks10030  Wed Mar 15 05:55:40 +0000 2023

#### 계정을 만든 시각의 평균

In [39]:
df_dog_user['user_created_unixtime'] = \
    df_dog_user['user_created_datetime'].apply(lambda x: x.timestamp())
dt = datetime.datetime.fromtimestamp(df_dog_user['user_created_unixtime'].mean())
dt.ctime()

'Sat Nov 30 10:49:38 2019'

### 3. 몇개나 트윗했는가?

In [40]:
# 유저별 트윗 개수
df_dog_user[['screen_name', 'statuses_count']].head()

    screen_name  statuses_count
0      Ggyu_uu_            1625
1      Aleum___            6749
2     Emma0221_             118
3    roIIinggun           42255
4  _wonwoo_i_ni            3772

In [41]:
df_dog_user[['screen_name', 'statuses_count']].describe()

       statuses_count
count     1100.000000
mean     44800.367273
std      96566.580720
min          1.000000
25%       2853.500000
50%      11636.500000
75%      41919.750000
max     912308.000000

### 4. 수집된 tweet 중 가장 follower가 많은 사용자는?

In [42]:
max_idx = df_dog_user['followers_count'].idxmax()
df_dog_user.iloc[max_idx][["screen_name", "followers_count"]]

screen_name        wwlake
followers_count     51637
Name: 813, dtype: object

wwlake 유저가 51637 팔로워로 가장 많다.

In [43]:
df_dog_user[["screen_name", "followers_count"]].describe()

       followers_count
count      1100.000000
mean        480.665455
std        2345.261697
min           0.000000
25%           9.000000
50%          71.000000
75%         225.750000
max       51637.000000

### 5. 가장 많이 나오는 hashtag는?

In [44]:
df_dog_hashtags = pd.DataFrame(data=df_dog['entities'].tolist())
df_dog_hashtags.head()

,hashtags,symbols,user_mentions,urls,media
0,[],[],"[{'screen_name': 'day_off_daying', 'name': '일상...",[],"[{'id': 1635655427223592963, 'id_str': '163565..."
1,[],[],[],[],NaN
2,[],[],"[{'screen_name': 'wwlake', 'name': 'mori', 'id...",[],"[{'id': 1635858370954657792, 'id_str': '163585..."
3,[],[],"[{'screen_name': '1_0veyajj', 'name': '쮸', 'id...",[],"[{'id': 1635885899228798976, 'id_str': '163588..."
4,[],[],"[{'screen_name': 'wwlake', 'name': 'mori', 'id...",[],"[{'id': 1635858370954657792, 'id_str': '163585..."

In [45]:
tags = []
for row in df_dog_hashtags['hashtags']:
    if len(row) != 0:
        for text in row:
            tags.append(text['text'])

In [46]:
counter = Counter(tags)

In [47]:
counter.most_common()[:10]

[('세븐틴', 28),
 ('SEVENTEEN', 28),
 ('김태래', 22),
 ('정한', 16),
 ('윤정한', 16),
 ('JEONGHAN', 16),
 ('보이즈플래닛', 15),
 ('김지웅', 15),
 ('우지', 11),
 ('원우', 11)]

### 6. 수집된 트윗을 분석하여 가장 많이 retweet된 (중복이 안되는) 트윗 10개를 찾고 이들의 리트윗 횟수, 원작성자, 트윗내용 등을 정리

In [48]:
# nan 예외처리를 위한 전처리 과정
df_dog_rt_list = df_dog['retweeted_status'].tolist()
list2df = []
for item in df_dog_rt_list:
    if type(item) == dict:
        list2df.append(item)

In [49]:
df_dog_rt = pd.DataFrame(data=list2df)

In [50]:
c = []
for name, group in df_dog_rt.groupby('id_str'):
    c.append([
        group.iloc[0]['retweet_count'],
        group.iloc[0]['user']['screen_name'],
        group.iloc[0]['text']])

In [51]:
pd.DataFrame(
    columns=['retweet_count', 'origin_user', 'text'],
    data=sorted(c, key=lambda x: x[0], reverse=True)[:10])

,retweet_count,origin_user,text
0,26414,_BADJO_,아 참을수 없어서 올린다 강아지 바람에 굴러간다고 ㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠ https:/...
1,16898,ziotoy,아 전재준 미친놈 요즘은 애들 기관지에안좋아서 강아지 같이 안키운다는말에 루이 쳐다...
2,13751,mad4dog,강아지를 안고 싶은데 분리불안 생겨서 안된대요\n근데 강아지가 옆에 없으면 내가 분...
3,10672,kimreeming,230312\n민규 플로어 펜스 열기 직전에 씨큐 눈치 슥… 보고 뛰쳐나가ㅋㅋㅋㅋㅋ...
4,7608,minkwhalexx,어떻게 강아지 이름이 전설(legend) https://t.co/F26U8471Ls
5,5704,bappurisfree,어쩌다 나간 소개팅 상대가 강아지라면? https://t.co/4Caansr5EL
6,5528,noxx_nox,아 18초에 강아지 백덤블링 하는거 보고 이동혁이랑 이제노 놀라뒤집어짐ㅠㅠㅌㅌㅋㅌㅌ...
7,5019,6MYDOGAT,고양이 지나가다 이유없이 강아지를 물다\n\n강아지 몹시 기뻐하다 꼬옥 안아주다 h...
8,4691,ny3328,아직까지도 엎드려를 못하는 강아지래\n그냥 바로 바닥에 꽈당해버림 ㅠ\n\nig s...
9,3561,offthepage_js,220925 김천재강아지🐶🐶🧡\n#ShiningStarJISOODay\n#간판올리고...